# Python
__pycache__/
*.py[cod]
*$py.class

# environments
.env
.venv/
venv/
ENV/
env/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
